body{
    background-color: darksalmon;
}
.nav{
    background-color: wheat;
    text-align: center;
    padding: 5px;
    margin: auto;
    width: 95%;
}
.nav a{
    text-decoration: none;
    padding: 6px;
    color: black;
}
.nav a:hover{
    background-color: rgb(128, 115, 92);
    color: white;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    background-color: slategray;
    border: 8px double  salmon;
    padding: 20px;
    text-align: center;
    margin: auto;
    width: 90%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table, td, th{
    border: 3px solid black;
    margin: auto;
}
ul{
    list-style-position: inside;
}

.flex-box{
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}
.flex-box div{
    margin: auto;
    text-align: center;
    
}